[Unit]
Description=CONTORL DE INVERNADERO - CAVERI.MX
After=multi-user.target
[Service]
Type=idle
ExecStart=$HOME/jukskani.sh
[Install]
WantedBy=multi-user.target