[Unit]
Description=CONTORL DE INVERNADERO - CAVERI.MX
After=multi-user.target
[Service]
Type=idle
ExecStart=cd /home/pi/jukskani/
ExecStart=jukskani
[Install]
WantedBy=multi-user.target